{% extends 'baseTemplate.html.twig' %}

{% block bodyWithNavbar %}
    <div class="bg">
        <div class="layer">
            <div class="row middle">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1 align="center">Welcome to SMART Chief!</h1>
                </div>
            </div>
            {% if app.user != null %}
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <a href="{{ path('app.viewChiefList', {'page': '1'}) }}" class="btn btn-primary form-control">Request a chief now!</a>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary form-control">Register Now!</a>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary form-control">Login</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <h1 align="center">About Project</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="font-size: 1.5em">
            <div class="jumbotron">
                <p>S.M.A.R.T šefas, tai keturių MIF VU programų sistemų studentų įkurtas projektas, siekiant padėti laiką branginantiems maisto megėjams, kurie nepraleistų progos pasilepinti profesionalaus šefo paruoštais patiekalais jų pačių namuose.</p>
                <p>Projektas žaibiškai sulaukė pripažinimo iš tokių šefų asociacijų kaip Consectetur Adipisicing, Mollitia Corporis, Dolor Elit ir daugelio kitų.</p>
                <p>Projekto S.M.A.R.T šefas užsakovas: Lietuvos šefų ir virėjų profsąjunga - turi šimtmečius trunkančias tradicijas ir patirtį. Jie užtikrina, jog mūsų paslaugų vartotojus pasiektu tik geriausių Lietuvos šefų pasiūlymai.</p>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block javascripts %}

{% endblock %}