{% extends 'baseTemplate.html.twig' %}

{% block bodyContainer %}
    <h1 class="display-5">Registration</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script>
        var notify = $.notify('<strong>Saving</strong> Do not close this page...', {
            allow_dismiss: true,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutDown'
            }
        });
    </script>

{% endblock %}